# Some generics first
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# autotools
autom4te.cache/*
aux-build/*
aclocal.m4
config.h.in
configure
Makefile.in

# eclipse
.project
.cproject
.settings/*
.pydevproject

# swap files
*.swp

# python
*.pyc

# project specific
build/*

